@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.background {
  background: linear-gradient(300deg, #742bb0, #172a94, #050509);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
  
  
  
  body {
    font-family: "Inter";
  }

  .nvbr {
    color: white;
    display: flex;
    text-align: left;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nvbrlink a {
    padding: 20px;
    font-family: monospace;
    color: rgb(22, 246, 190);
  }


.aboutme {
  padding: 100px 50px 50px 50px;
}

.intro {
  font-family: monospace;
  color: rgb(22, 246, 190);
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(187, 204, 238);

  
}

.lead {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(130, 133, 178);
}

.info {
  color: white;
  width: 450px;
}

.row {
  margin-left: 40px;
}

.buttons {
  padding: 35px 0 0 0;
}

.cvbtn, .contactbtn {
  border-color: rgb(22, 246, 190);
  color: rgb(22, 246, 190);
  border-radius: 0;
  font-family: monospace;
}

.langimg {
  color: white;
  text-align: center;
}

.langimg img {
  width: 100%;
  max-width: 220px;
  padding: 30px;
}

#experience h1 {
  color: rgb(22, 246, 190);
  padding: 0 0 25px 0;
  font-family: monospace;
}

.proj {
  color: rgb(22, 246, 190);
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  padding: 80px 0 80px 0;
}

#projects .squares {
  padding: 60px 0 60px 0;
}

.contme {
  color: white;
  font-family: "Inter";
}

#contactme .ctm {
font-family: monospace;
color: rgb(22, 246, 190);
}

#contactme p a {
  color: white;
}

.ftr {
  color: white;
}
 
